@import url(/assets/reset.css);

h1 {
    display: flex;
    text-align: center;
    padding: 3vw;
}

label {
    display: flex;
    text-align: center;
    padding: 1vw;
}

input {
    display: flex;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
}

#resultado {
    display: flex;
    text-align: center;
    padding: 1vw;
    background-color: #ffffff81;
    border-radius: 15px;
}

button {
    display: flex;
    text-align: center;
    padding: 1vw;
    border-radius: 15px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background:url(/assets/Imagens/Imagem\ 01.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 0.5s ease-in-out;
    align-items: center;
}
